<ion-view view-title="Expenses: {{expenseCtrl.availableLimit | currency : $}}">
    <ion-content>
        <div class="list">
            <label class="item item-input item-select"
                   ng-show="expenseCtrl.favoriteProducts.length>0">
                <div class="input-label">
                    Choose product
                </div>
                <select
                        ng-model="expenseCtrl.expenseInfo.selectedProduct"
                        ng-options="item as item.name for item in expenseCtrl.favoriteProducts">
                </select>
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Custom product..." ng-model="expenseCtrl.expenseInfo.customProduct">
            </label>

            <div class="row row-center item">
                <div class="col">
                    <label class="item item-input">
                        <input type="tel" ng-model="expenseCtrl.expenseInfo.price" ui-money-mask="2" required>
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input">
                        <input type="number" ng-model="expenseCtrl.expenseInfo.count">
                    </label>
                </div>
                <div class="col">
                    <button
                            class="button button-dark button-block vertical-margin-zero"
                            ng-click="expenseCtrl.addToDailyProductList()"
                            ng-disabled="!(expenseCtrl.expenseInfo.selectedProduct || expenseCtrl.expenseInfo.customProduct)">
                        Add
                    </button>
                </div>
            </div>
        </div>

        <ul class="list">
            <li class="row row-center item" ng-repeat="product in expenseCtrl.purchasedProducts">
                <div class="col">{{product.name}}</div>
                <div class="col">{{product.price | currency : $}}</div>
                <div class="col">
                    <button
                            class="button button-assertive button-block vertical-margin-zero"
                            ng-click="expenseCtrl.removeProduct($index)">Remove
                    </button>
                </div>
            </li>
        </ul>

    </ion-content>
</ion-view>
